body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(image/Screenshot\ 2024-02-01\ 194353.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}
h1{
    color: goldenrod;
    
}
#message-el{
    font-style: italic; 
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px  ;
    margin-bottom: 2px;
    margin-top: 2px;
}
.container{
    background: wheat;
    max-width: 80%;
    margin-left: 380px;
    margin-right: 400px;
    border-radius: 10px;
    border: 3px solid black;
    
}